body {
  background-image: url(../public/coding-1841550_1280.jpg);
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.fundo{
  background-color:white ;
  padding: 200px;
  padding-top: 1px;
  padding-bottom: 100px;
  border-radius: 2px;
  width: auto;
}

.App {
  text-align: center;
  margin-top: 50px;
}


h2 {
  font-size: 24px;
  color:black
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color:black

}

input {
  width: 300px;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 10px;
  color:black
}

#mensagemCriptografada {
  font-weight: bold;
}

.button-group {
  display: flex;
  justify-content: center;
}

.button-group button {
  margin-left: 10px;
}
